streamlit>=1.36
pandas
numpy
openpyxl
ortools==9.8.3296
reportlab
folium
streamlit-folium

# Google Drive API
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
